body {
    text-align: center;
    height: 100vh;
}

canvas {
    background-color: lightblue;
}


button {
    margin: 10px 10px;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;

    border-top: 10px solid rgb(204, 228, 236);
    border-left: 10px solid lightgray;
    border-right: 10px solid rgb(193, 213, 219);
    border-bottom: 10px solid lightgrey;
    cursor: pointer;
}

button:hover{
    font-size: medium;
}

.btns {
    height : 150px;
    margin: auto;
}

@media only screen and (max-width : 300px){
    button{
        font-size:x-small
    }
    button:hover{
        font-size:xx-small
    }
}